@import url("https://fonts.googleapis.com/css2?family=inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-text-primary: #1c2a38;
    --color-text-secondary: #8A8F98;
    --color-text-alert: #d72641;
    --color-text-icon: #dbdade;
    --color-bg-primary: #fff;
    --color-bg-secondary: #f3f5f9;
    --color-bg-alert: #fdeaec;
    --color-theme-primary: #623ce6;
}


button,
input,
select,
textarea {
    font: inherit;
}

img {
    display: block;
}

strong {
    font-weight: 600;
}

body {
    font-family: "inter", sans-serif;
    line-height: 1.5;
    color: var(--color--text-primary);
    background-color: var(--color-bg-secondary);
}

.match {
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 2px rgba(#303030, 0.1), 0 4px 4px 0 rgba(#303030, 0.1);
}

.match-header {
    display: flex;
    padding: 8px;
    border-bottom: 2px solid #303030;
}

.matchday {
    background-color: var(--color-bg-alert);
    color: var(--color-text-alert);
    padding: 8px 18px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 2;
    margin-right: auto;
}

.match-tournament {
    display: flex;
    font-size: 20px;
    align-items: center;
    font-weight: 600;
}

.fkf-logo {
    margin-right: 1em;
    margin-left: 0.5em;
}


.match-date {
    display: flex;
    padding: 9px 16px;
    background-color: var(--color-bg-alert);
    margin-left: auto;
    font-size: 14px;
    color: var(--color-text-alert);
}

.match-content {
    display: flex;
    position: relative;
}

.column {
    /* padding: 32px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
    /*Added */
    padding: 3em 0;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.team-logo {
    position: absolute;
    top: -7.7em;
    width: 135px;
    height: 135px; 
    margin: 0 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-bg-primary);
    box-shadow: 0 0 1px 10px rgba(7, 6, 6, 0.6);
}


.team-name {
    position: absolute;
    text-align: center;
    margin-top: 2em;
    font-size: 20px;
    font-weight: 600;
    width: 6em;
}

.match-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-score {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.match-score-number {
    font-size: 48px;
    font-weight: 600;
    color: var(--color-text-primary);
    line-height: 1;
}

.match-score-divider {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-text-icon);
    margin-left: 10px;
    margin-right: 10px;
}

.match-fulltime {
    color: red;
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
}

.match-half {
    display: flex;
    margin-top: 70px;
    padding-top: 20px;
}

    
.match-half-options{
    margin-left: 4px;
    margin-right: 4px;
    border: 1px var(--color-text-icon);
    background-color: burlywood;
    border-radius: 2px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
}

.all-stats {
    display: grid;
    grid-template-columns: 5fr;
}

.align {
    display: grid;
    grid-template-columns: 3.5fr 3.5fr 3.5fr;
    align-items: center;
    justify-items: center;
    height: 3em;
    box-shadow: 1px -1px 3px;
}

.home {
    justify-self: start;
    margin-left: 1.5em;
}

.away {
    justify-self: end;
    margin-right: 1.5em;
}

.middle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fa-chevron-down, .fa-chevron-up {
    font-size: 0.8em;
    margin-top: 0.7em;
}

.attempts, .possession, .crosses, .corners, .cards {
    display: none;
    color: rgb(8, 8, 131);
}

.show {
    display: grid;
}

.footer {
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.footer > h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 3px 3px;
    color: #4b78b3;
}

.footer > p {
    margin-top: -0.5em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
























